= render :partial => '/partials/navbar'

.container
  .page-header
    %h1 Welcome To SWAPR
  = simple_form_for @user, html: {class: 'form=horizontal'} do |f|
    = f.input :name
    = f.input :address
    = f.input :city
    = f.input :state
    = f.input :zip
    = f.input :phone
    = f.input :email
    = f.input :password
    = f.button :submit