- provide(:title, @user.name)
.row
  %aside.col-md-4
    %section.user_info
      %h1
        = gravatar_for @user
        = @user.name
      .col_12
        %p
          Contact Info:
          %br
          email:
          = @user.email
          %br
          Phone:
          = @user.phone
          - if current_user?(@user)
            %br
            = link_to "Edit Profile", edit_user_path, class: "btn btn-primary"
          - if current_user.admin?
            = link_to "Delete", @user, method: :delete, data: {confirm: "Delete User?"}, class: "btn btn-primary"
        %hr
        %h2 Exchanges
        %table.table.table-striped.table-hover
          %thead
            %tr
              %th Title
              %th Date

          %tbody
            -@exchanges.each do |exchange|
              %tr
                %td= link_to exchange.title
                %td= exchange.date_created

        %hr
        %h2 Listings
        = render :partial => '/partials/list', :locals => {listings: @listings}
