= render :partial => '/partials/navbar'

.container
  .page-header
    %h1
      = @user.name
  .col_12
    %p
      Contact Info:
      %br
      email:
      = @user.email
      %br
      Phone:
      = @user.phone
    %hr
    %h2 Listings
    = render :partial => '/partials/list', :locals => {listings: @listsings}

