- provide(:title, @user.name)
.row
  %aside.col-md-4
    %section.user_info
      %h1
        = gravatar_for @user
        = @user.name
      .col_12
        %p
          Contact Info:
          %br
          email:
          = @user.email
          %br
          Phone:
          = @user.phone
          - if current_user?(@user)
            %br
            = link_to "Edit Profile", edit_user_path, class: "btn btn-primary"
        %hr
        %h2
          Listings
          -#= render :partial => '/partials/list', :locals => {listings: @listings}
