-#Anything here will be displayed in ALL of the project

-#Display _navbar partial in each page of the app:
= render :partial => '/partials/navbar', :locals => {listings: @listsings}

!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SWAPR
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = yield
= render :partial => '/partials/footer'