-#Anything here will be displayed in ALL of the project


!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SWAPR
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    -#NAV-BAR
    = render :partial => '/partials/navbar', :locals => {listings: @listsings}

    -#FLASH CONFIRMATION MESSAGES
    .container
      - flash.each do |message_type, message|
        %div{:class => "alert alert-#{message_type}"}= message
      = yield

      -#FOOTER
      = render :partial => '/partials/footer'

      -#DEBUGGING BOX
      = debug(params) if Rails.env.development?